<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DBAccessService</servlet-name>
        <servlet-class>yum.e3.server.generals.rpc.DBAccessServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTService</servlet-name>
        <servlet-class>yum.e3.server.development.apps.finance.it.ccot.sus.OTService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataService</servlet-name>
        <servlet-class>yum.e3.server.generals.DataService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDataService</servlet-name>
        <servlet-class>yum.e3.server.generals.MobileDataService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryService</servlet-name>
        <servlet-class>yum.e3.server.generals.DeliveryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineOrderingBEAccess</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBAccessService</servlet-name>
        <url-pattern>/yum.e3.Main/dbaccessservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SUSAccessService</servlet-name>
        <servlet-class>yum.e3.server.development.apps.finance.it.ccot.sus.rpc.SUSAccessServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUSPaidOut</servlet-name>
        <servlet-class>yum.e3.server.development.apps.marketing.promotions.SUSPaidOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SUSPaidOut</servlet-name>
        <url-pattern>/SUSPaidOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUSAccessService</servlet-name>
        <url-pattern>/yum.e3.Main/susaccessservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageImgService</servlet-name>
        <servlet-class>yum.e3.server.generals.ManageImgService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageImgService</servlet-name>
        <url-pattern>/yum.e3.Main/manageimgservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StoreFileService</servlet-name>
        <servlet-class>yum.e3.server.development.apps.it.sync.StoreFileService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreFileService</servlet-name>
        <url-pattern>/yum.e3.Main/storefileservice</url-pattern>
    </servlet-mapping>
    <!-- customized file upload servlet -->
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>yum.e3.server.development.apps.finance.it.CDMS.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dynamicHtml</servlet-name>
        <servlet-class>yum.e3.server.development.apps.finance.it.CDMS.DynamicHtml</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dynamicHtml</servlet-name>
        <url-pattern>/dynamicHtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResourceUploaderServlet</servlet-name>
        <servlet-class>yum.e3.server.development.apps.finance.it.RER.FileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceUploaderServlet</servlet-name>
        <url-pattern>/yum.e3.Main/uploadrerresource</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>yum.e3.server.generals.FileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/uploadresource</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CEEFileUpload</servlet-name>
        <servlet-class>yum.e3.server.development.apps.finance.cee.CEEFileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CEEFileUpload</servlet-name>
        <url-pattern>/yum.e3.Main/ceefileupload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VideoUpload</servlet-name>
        <servlet-class>yum.e3.server.development.apps.marketing.emenu.VideoUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VideoUpload</servlet-name>
        <url-pattern>/uploadvideo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PDFGenerator</servlet-name>
        <servlet-class>yum.e3.server.generals.PDFGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PDFGenerator</servlet-name>
        <url-pattern>/pdfgenerator</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvoicePDFGenerator</servlet-name>
        <servlet-class>yum.e3.server.development.apps.finance.cee.InvoicePDFGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoicePDFGenerator</servlet-name>
        <url-pattern>/invpdfgenerator</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScheduleService</servlet-name>
        <servlet-class>yum.e3.server.development.apps.operations.schedule.ScheduleService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoinsShippingService</servlet-name>
        <servlet-class>yum.e3.server.development.apps.operations.dbs.CoinsShippingService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoinsShippingService</servlet-name>
        <url-pattern>/dbs/coinsshipservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleService</servlet-name>
        <url-pattern>/scheduleservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmenuFileTransfer</servlet-name>
        <servlet-class>yum.e3.server.development.apps.marketing.emenu.FileTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmenuFileTransfer</servlet-name>
        <url-pattern>/emenuFileTransfer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KBrainsPOSHandler</servlet-name>
        <servlet-class>yum.e3.server.development.apps.it.kbrains.KBrainsPOSHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KBrainsPOSHandler</servlet-name>
        <url-pattern>/KBrainsPOSHandler</url-pattern>
    </servlet-mapping>
    <!--servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>yum.e3.client.development.apps.finance.it.CDMS.FileUploadServlet</servlet-class>
    </servlet>

   <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>*.fileUpload</url-pattern>
    </servlet-mapping>

     <context-param>
        <param-name>maxSize</param-name>
        <param-value>262144000</param-value>
     </context-param>

     <context-param>
        <param-name>slowUploads</param-name>
        <param-value>0</param-value>
    </context-param-->
    <filter>
        <filter-name>Compress</filter-name>
        <filter-class>com.jspbook.GZIPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.xml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>yum.e3.server.generals.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>OTService</servlet-name>
        <url-pattern>/ccot/sus/OTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataService</servlet-name>
        <url-pattern>/DataService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDataService</servlet-name>
        <url-pattern>/MobileDataService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryService</servlet-name>
        <url-pattern>/DeliveryService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineOrderingBEAccess</servlet-name>
        <url-pattern>/OnlineOrderingBEAccess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
     <multipart-config>
<!-- 100MB max -->
   <max-file-size>104857600</max-file-size>
   <max-request-size>104857600</max-request-size>
   <file-size-threshold>0</file-size-threshold>
 </multipart-config>
</web-app>
