#dhtmltooltip
{
    position: absolute;
    left: -300px;
    width: 150px;
    border: 1px solid black;
    padding: 2px;
    background-color: lightyellow;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size:   11px;
    visibility: hidden;
    z-index: 100;
    color: black;
}
#fixtooltip
{
    position: absolute;
    left: -300px;
    width: 150px;
    border: 1px solid black;
    padding: 2px;
    background-color: lightyellow;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size:   12px;
    visibility: hidden;
    z-index: 100;
    color: navy;
}

