          .mainTable{
                padding-top: 30px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
           .mainTr{
	            height: 40%;
	            text-align: center;
	        }
	       .mainFooter{
	             height: 20%;
	             text-align: center;
		    }
		   .mainTd{
		         width: 33%;
		         margin-left:auto;
		         margin-right:auto;
		         text-align: center;
		    }
		  .grayBold{
		         font-size: 35px;
		         font-weight: bold;
		         color: gray;
		         font-family: Arial;
		  }
                  
         .gradient{
                        
                        background: white; /* Old browsers */
                        background: -moz-linear-gradient(top, white 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, white 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, white 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, white 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='white',GradientType=0 ); /* IE6-9 */
                        /*color:#A4A4A4;*/
                        color:gray;
                        font-weight: bold;
                        font-size:47px;
                        font-family: Tahoma; 
                         
                  }   
                   .gradient_red{
                        
                        background: red; /* Old browsers */
                        background: -moz-linear-gradient(top, red 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, red 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, red 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, red 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='red',GradientType=0 ); /* IE6-9 */
                        /*color:#A4A4A4;*/
                        color:white;
                        font-weight: bold;
                        font-size:47px;
                        font-family: myFirstFont; 
                         
                  }   
                  .order_label{
                      border: 1px solid #BDBDBD;
                      color:black;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center
                  }
                  .order_label_green{
                      border: 1px solid #BDBDBD;
                      color:#01DF01;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center;
                      
                  }
                  .order_label_pair{
                      background: #F2F2F2;
                  }
                   .order_label_red{
                      border: 1px solid #BDBDBD;
                      color:red;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center;
                  }
                  .order_label_yellow{
                      border: 1px solid #BDBDBD;
                      color:#FACC2E;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center;
                  }
                  .order_label_blue{
                      border: 1px solid #BDBDBD;
                      color:#2E9AFE;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center;
                  }
                  .order_label_blue_inverted{
                      border: 1px solid #BDBDBD;
                      color:black;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center;
                      background: #2E9AFE;
                  }
                  .order_label_cancel{
                      border: 1px solid #BDBDBD;
                      color:white;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center;
                      background: red;
                      text-decoration:line-through;
                  }
                  .order_label_cancel_inverted{
                      border: 1px solid #BDBDBD;
                      color:red;
                      font-family: myFirstFont;
                      font-size:40px;
                      font-weight: bold;
                      text-align: center;
                      background: white;
                      text-decoration:line-through;
                  }
                  .letter{
                      font-family: myFirstFont;
                      color:gray;
                      font-size: 35px;
                      font-weight: bold;
                  }
                  .letter_rep{
                      border: 1px solid #BDBDBD;
                      font-family: myFirstFont;
                      color:gray;
                      font-size: 40px;
                      font-weight: bold;
                      text-align: center
                  }
                  .driver{
                      text-align: left;
                  }
                  .final_value{
                      font-family: myFirstFont;
                      color:gray;
                      font-size: 80px;
                      font-weight: bold;
                      border-radius: 10px;
                  }
                  .value_red{
                      color:white;
                      background:red;
                  }
                  .value_green{
                      background:#40FF00;
                      color:black;
                  }
                    .employee{
                        
                        background: white; /* Old browsers */
                        background: -moz-linear-gradient(top, white 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, white 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, white 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, white 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='white',GradientType=0 ); /* IE6-9 */
                        /*color:#A4A4A4;*/
                        color:gray;
                        font-weight: bold;
                        font-size:25px;
                        font-family: Tahoma; 
                         
                         
                  }   
                  .employee-detail{
                        color:gray;
                        font-weight: bold;
                        font-size:15px;
                        font-family: Tahoma; 
                        border:1px solid gray; 
                  }
                  .cout_theader{
                        background: white; /* Old browsers */
                        background: -moz-linear-gradient(top, white 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, white 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, white 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, white 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='white',GradientType=0 ); /* IE6-9 */
                        /*color:#A4A4A4;*/
                        color:gray;
                        font-weight: bold;
                        font-size:30px;
                        font-family: myFirstFont;
                        text-align: center;
                  }
                  .big_header{
                      font-size: 60px;
                  }
                  .gradient-border{
                        
                        background: white; /* Old browsers */
                        background: -moz-linear-gradient(top, white 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, white 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, white 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, white 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='white',GradientType=0 ); /* IE6-9 */
                        /*color:#A4A4A4;*/
                        color:gray;
                        font-weight: bold;
                        font-size:35px;
                        font-family: Tahoma; 
                         border:4px solid gray; 
                  }
                  .bashboard-border{
                        
                        background: white; /* Old browsers */
                        background: -moz-linear-gradient(top, white 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, white 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, white 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, white 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='white',GradientType=0 ); /* IE6-9 */
                        /*color:#A4A4A4;*/
                        color:#00BFFF;
                        font-weight: bold;
                        font-size:20px;
                        font-family: Tahoma; 
                         border:4px solid gray;
                         font-family: myFirstFont;
                  }
                  .bashboard-border-sublevel{
                        
                        background: white; /* Old browsers */
                        background: -moz-linear-gradient(top, white 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, white 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, white 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, white 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='white',GradientType=0 ); /* IE6-9 */
                        /*color:#A4A4A4;*/
                        color:gray;
                        font-weight: bold;
                        font-size:18px;
                        font-family: Tahoma; 
                         border:4px solid gray; 
                         font-family: myFirstFont;
                  }
                  .redvalue{
                      color:white;
                      background-color:red;
                  }
                  .greenvalue{
                      color:black;
                      background-color:#40FF00;
                  }
                   .rednovalue{
                      color:red;
                  }
                  .greennovalue{
                      color:#40FF00;
                  }
                  .dash-table{
                      text-align:center;border-radius: 10px;border: solid gray 1px;box-shadow: 10px 10px 5px #D8D8D8;
                  }
                  .dash-header{
                      width:90%;background-color: white;border-radius: 10px;color:orangered;border:3px solid orangered;box-shadow: 5px 5px 5px #D8D8D8;
                      font-weight: bold;font-size:25px
                  }
                  
        @font-face {
           font-family: myFirstFont;
            src: url(sansation_light.woff);
        }
        .detail{
            border:1px solid gray; 
            font-size:37px;
            font-family: Tahoma; 
            color:gray;
            text-align: center;
                  }
                  
                  
            .txt_admin{
                border:1px solid gray;
                color:gray;
                height:30px;
                font-size:20px;
            }
            
            .tbl-main{
                width: 500px;
                heigth:100%;
                background-color: white;
                box-shadow: 5px 5px 5px graytext;
                border:1px solid white;
            }
            
             .name-admin{
                color:gray;
                font-family: Tahoma;
                font-size:20px;
                font-weight: normal;
                text-align: center;
            }
             .blocked {
                 background-image: url("../images/blocked.png");
                width: 100%;
                height: 100%;
                overflow: hidden; 
                top: 0px;
                left: 0px;
                z-index: 10000;
                text-align: center;
                position:absolute; 
                /*background-color: #848484
                opacity:0.8;
                filter:alpha(opacity=80);*/
                text-align: center;
                }
                
                
                      #divLogin{
                        margin-left:auto;
                        margin-top:200px;
                        width:300px;
                        height:auto;
                        background: white; /* Old browsers */
                        background: -moz-linear-gradient(top, white 0%,  #E6E6E6 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white),  color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top, #1e5799 0%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top, white 0%,#E6E6E6 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top, white 0%,#E6E6E6 100%); /* IE10+ */
                        background: linear-gradient(to bottom, white 0%,#E6E6E6 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='white',GradientType=0 ); /* IE6-9 */
                        border:1px gray solid;
                        text-align:center;
                        color:white;
                        font-family:Arial;
                        font-size:12pt;
                        filter:alpha(opacity=90); 
                        border-radius: 5px;
                        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
                        -moz-opacity:1;
                        z-index:1000;
                        box-shadow: 5px 5px 5px graytext;
                    }